<%- include('includes/start.ejs') %>

<title>Login</title>
</head>

<%- include('includes/header.ejs') %>
<main>
  <div class="d-flex">
    <form class="flex-fill" method="POST" action="/login-auth">
      <% if (err) { %>
        <div class="alert alert-danger" role="alert" style="margin: 0px;padding:10px;text-align: center">
            <%= err %>
        </div>
      <% } %>
      <h2>Data Manager</h2>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter registered email" required>
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Password"
          aria-describedby="passHelp" required>
        <small id="passHelp" class="form-text text-muted">Hint: Check your registered email.</small>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn btn-primary">Submit</button>
      <p style="margin-top: 10px"><a href="/signup">Signup</a></p>
    </form>

    <form class="flex-fill" method="POST" action="/associate/login">
      <% if (errAss) { %>
        <div class="alert alert-danger" role="alert" style="margin: 0px;padding:10px;text-align: center">
            <%= errAss %>
        </div>
      <% } %>
      <h2>Members</h2>
      <div class="form-group">
        <label for="member-id">Email address</label>
        <input type="email" class="form-control" id="member-id" name="email" placeholder="Enter registered email">
      </div>
      <div class="form-group">
        <label for="passmem">Password</label>
        <input type="password" class="form-control" id="passmem" name="password" placeholder="Password"
          aria-describedby="passHelp">
        <small id="passHelp" class="form-text text-muted">Hint: Check your registered email.</small>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>