<%- include('includes/start.ejs') %>

<title>Signup</title>
</head>

<%- include('includes/header.ejs') %>
<main>
  <% if (err) { %>
    <div class="alert alert-danger" role="alert" style="margin: 0px;padding:10px">
      <%= err %>
    </div>
  <% } %>
  <form method="POST" action="/signup" style="padding: 20px; margin: 0px">
    <div class="form-group">
      <label for="companyName"><abbr title="Required" style="text-decoration: none">* </abbr>Company Name</label>
      <input type="text" class="form-control" id="companyName" name="name" placeholder="Enter your company's name"
        required>
    </div>
    <div class="form-group">
      <label for="address"><abbr title="Required" style="text-decoration: none" required>* </abbr>Address</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="Enter company's Address"
        required>
    </div>
    <div class="form-group">
      <label for="compDesc"><abbr title="Required" style="text-decoration: none">* </abbr>What services/products does
        your company provide?</label>
      <textarea class="form-control" id="compDesc" maxlength="200" name="compDesc" rows="5" required></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"><abbr title="Required" style="text-decoration: none">* </abbr>Email
        address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
        placeholder="Enter email" required>
      <small id="emailHelp" class="form-text text-muted">Check your email for password after Signup.</small>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="form-group" style="text-align: center">
      <a class="btn btn-primary" href="/login" role="button" style="margin-right: 20px">Return</a>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</main>
<footer class="fixed-bottom">
  <div id="hr"></div>
  <div class="head" style="max-width: none; height: 40px;">
  </div>
</footer>
<%- include('includes/end.ejs') %>